/* 1200px -> 1020px ->760px -> */

@media screen and (max-width:1200px){

    main .main_product{
        flex-flow: column nowrap;
    }
    .product_right{
        width: 100% !important;
    }
    .left_img{
        display: none;
    }
    .product_1{
        display: block;
    }
    .product_2{
        display: block;
    }
}
@media screen and (max-width:1020px){


}
@media screen and (max-width:768px){

}