header {
    background: rgba(0, 0, 0, 0.5);
    position: fixed; width: 100%;
    left: 0; top: 0; z-index: 999;
}

/* mo */
.mo_nav {
    z-index: 999;
    width: 100vw; position: fixed;
    height: 100vh; background: rgba(238, 233, 233, 0.5);
}


/* 공통  */
.mo_nav a {
    color: #fff;
}

.mo_nav ul li{
    display: flex ; flex-flow: row nowrap; justify-content: space-between;
    padding: 15px 4px 15px 0; border-bottom: 1px solid #696969;
}

.mo_nav ul li a{
    font-size: 0.875rem; 
}
.mo_nav ul li img {
    width: 14px;
}


.mo_nav .mo_navall {
    background: #000; width: 90%;height: 100vh;
    padding: 0 13px 0 20px;
}

.mo_nav .mo_close{
    display: flex;
    justify-content: right;
    padding: 18px 0 4px 0;
}
.mo_nav h1 a{
    font-size: 1.5rem; font-weight: 400;
}


.mo_nav .mo_title {
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 18px 0 0px 0;
}
.mo_nav .mo_women .mo_title{
    padding-bottom: 30px;
}


.mo_nav .mo_join {
    display: flex; padding-right: 4px;
    justify-content: space-between;
    padding:18px 0 ; border-bottom: 1px solid #696969;
}

.mo_nav .mo_join img {
    width: 14px;
}


.mo_nav .mo_help {
    display: flex ; flex-flow: column nowrap;
    padding-top: 40px;
} 

.mo_nav .mo_help a {
    font-size: 0.875rem ;font-weight: 400;
}
.mo_nav .mo_help div {
    display: flex; padding: 5px 0;
}
.mo_nav .mo_help img {
    width: 16px; margin-right: 10px;
}

.mo_nav .mo_bg {
    display: flex; flex-flow: column nowrap;
}
.mo_nav .mo_bg .mo_first_bg{
    background-image: url(../img/calvinklein_imgaes/mo_dropdown_celeb_kazuha_231212.jpg);
    width: 100%;  
    height: 92px; background-position:center top;
    position: relative;
}
.mo_nav .mo_bg .mo_first_bg span  {
    position: absolute;
    color: #fff; font-size: 0.75rem; font-weight: 500;
    left: 10px; top: 30px;
}
.mo_nav .mo_bg .mo_second_bg{
    background-image: url(../img/calvinklein_imgaes/mo_dropdown_celeb_jennie_231212.jpg);
    width: 100%;  
    height: 92px; background-position:center top;
    position: relative;
}
.mo_nav .mo_bg .mo_second_bg span  {
    position: absolute;
    color: #fff; font-size: 0.75rem; font-weight: 500;
    left: 10px; top: 30px;
}


header .text_box {
    background: #000; 
    display: flex;   padding: 10px;  position: relative;
    } /* 상단 전체 */
header .text_box .wrap {
    display: flex;  width: 100%; 
    text-align: center; position: relative;
} /* 텍스트와 < >아이콘*/


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}
header .text_box .wrap .a_text {margin: 0 auto;}
header .text_box .wrap .a_text a {
    color: #fff; font-size: 0.813rem;
}
header .text_box .wrap .a_text a:nth-child(2) {color: #fff;}
header .text_box .wrap .a_text a:nth-child(3) {color: #fff;}
header .text_box .wrap .a_text a:nth-child(4) {color: #fff;}
header .text_box .wrap .a_text a:nth-child(5) {color: #fff;}
header .text_box .wrap .a_text a span {
    color: #fff; text-decoration: underline; font-size: 0.813rem;
}
header .text_box .wrap .next_freeview {
}
header .text_box .wrap .next_freeview .prev {position: absolute; left: 100px;} /* 이전이미지 */
header .text_box .wrap .next_freeview .prev img {}
header .text_box .wrap .next_freeview .next  {position: absolute; right:100px;} /* 다음 이미지 */
header .text_box .wrap .next_freeview .next img {}
header .text_box .close_icon {
    position: absolute; right: 0; top: 6%; z-index: 999;
} 
header .text_box .close_icon img {
    width: 26px;
} /* 닫기 */
header .head_contents {
    display: flex;  justify-content: space-between;  padding: 20px;
    align-items: center;
} /* 상단 검색 및 정보 */
header .head_contents .logo_gender {
    display: flex; align-items: center;
}  /* 로고랑 젠더 왼쪽 */
.mo_bar {display: none;}
header .head_contents .logo_gender h1 {}  
header .head_contents .logo_gender h1 a {}  
header .head_contents .logo_gender h1 a img {width: 178px; height: 22.39px;}  /* 로고 이미지 */
header .head_contents .logo_gender nav {}  
header .head_contents .logo_gender nav a {
    font-size: 0.875rem; margin-left: 20px; color: #aaa;
} /* men women */  
header .head_contents  #search_bar {} /* 검색바 */  
header .head_contents  #search_bar fieldset {width: 360px; height: 36px; border: none; position: relative; }  
header .head_contents  #search_bar fieldset .skip {display: none;} /* 레전드 스킵 */
header .head_contents  #search_bar fieldset #search {border: none;
    width: 360px; height: 36px; padding: 10px;background-color: #aaa; opacity: 0.8; } /* 검색바 */
header .head_contents  #search_bar fieldset #btn {position: absolute; right:20px;   border: none; background: none; opacity: 0.8; }  /* 이미지 */
header .head_contents  #search_bar fieldset #btn img {padding-top: 7px;} /* 이미지 */
header .head_contents  .right {}  /* 오른쪽 */
header .head_contents  .right a {margin-right: 34px;}  /* 오른쪽  아이콘이미지*/
header .header_categori {
    padding-left: 35px; margin-bottom: 30px;
}
header .header_categori a {color: #fff; margin-right: 15px;
    font-size: 0.813rem;
}

/* 네비게이션 */
main .nav_background{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999; left: 0; top: 0;  
}

main .nav_background .nav_contents_background {/* 컨텐츠 백그라운드 */
    background-color: #000;
    width: 83%;  height: 100vh;
}
/* 네비 내용 */
main .nav_background .nav_contents_background .nav_contents {
    padding: 75px 40px 40px; 
} 

main .nav_background .nav_contents_background .nav_contents .nav_top {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-bottom: 22px;
}
main .nav_background .nav_contents_background .nav_contents .nav_top .menu {}
main .nav_background .nav_contents_background .nav_contents .nav_top .menu a {
    font-size: 0.813rem; margin-right: 20px; color: #aaa;
}
main .nav_background .nav_contents_background .nav_contents .nav_top .menu a:hover{
    color: #fff;
}
main .nav_background .nav_contents_background .nav_contents .nav_top .close {}
main .nav_background .nav_contents_background .nav_contents .nav_top .close a {}
main .nav_background .nav_contents_background .nav_contents .nav_top .close a img { 
    width: 24px;
}

/* 네비 호버 */
.nav_top .menu a{
    position: relative;
}
.nav_top .menu a::after{
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 0; height: 3px;
    display: inline-block;
    background: #f7f7f7;
    transition: 0.2s ease-in-out;
}
.nav_top .menu a:hover::after{
    width: 100%;
}
.nav_left a {
    position: relative;
}
.nav_left a::after{
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    width: 0; height: 3px;
    display: inline-block;
    background: #f7f7f7;
    transition: 0.2s ease-in-out;
}

.nav_left  a:hover::after{
    width: 100%;
}


/* 네비 메인  */
main .nav_background .nav_contents_background .nav_contents .content_main {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left {
    display: flex;
}
/* 제목열 */
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left p {
    color: #aaa; font-size: 0.813rem; margin-bottom: 40px;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_letf { margin-right: 200px;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_letf a {margin-bottom: 20px; color: #fff;font-size: 0.813rem;
    display: block; width: max-content;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_letf .exclusive {color: #78b6ed;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_right {
    margin-top: 56px; display: flex; flex-flow: column nowrap;  
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_right a {margin-bottom: 20px; color: #fff; font-size: 0.813rem;}

main .nav_background .nav_contents_background .nav_contents .content_main .nav_right{ display: flex;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a{display: flex; flex-flow: column nowrap; width: 50%;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a span{
    font-size: 0.825rem; color: #aaa; margin-top: 10px;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a img{
    width: 100%; height: 280px;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a:nth-child(2) {margin-left: 20px;}
 /* footer */
footer {margin-top: 20px; padding: 0 40px  0;
}
footer .first_footer {
    display: flex; flex-flow: row wrap; padding: 25px 0;
}
footer .first_footer > * { 
    width: 15%; display: flex; flex-flow: column;
}
footer .first_footer .contents {}
footer .first_footer  .contents1  {}
footer .first_footer .contents2 {}
footer .first_footer .contents3 {}
footer .first_footer .contents4 {}
footer .first_footer .contents h1{padding-bottom: 8px;}
footer .first_footer .contents a{
    padding-bottom: 8px;
    display: block;}
.footer_last {
    display: flex; justify-content: space-between;
    width: 100%;
}
.footer_last .text {
    padding: 0 10px 20px;
}
.footer_last .text address {
    color: #ccc; font-size: 0.75rem; margin-bottom: 10px;
}
.footer_last .text p {color: #ccc; font-size: 0.75rem; margin-bottom: 10px;}
.footer_last .sns {}
.footer_last .sns a {margin-right: 9px;}
.footer_last .sns a i {}
.footer_last .sns a img {}



/* js */
.category_ani {
    animation: category 0.3s ;
}
@keyframes category {
    0%{
        transform: translateX(-4000px);
    }
    100%{
        transform: translateX(0);
    }
}

.close_ani {
    animation:close_ani 0.5s ;
}
@keyframes close_ani {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-4000px);
    }
}
.basket {
    animation: basket 0.2s ;
}
@keyframes basket {
    0%{
        transform: translateX(4000px);
    }
    100%{
        transform: translateX(0);
    }
}

