header {
    background: rgba(0, 0, 0, 0.5);
    position: fixed; width: 100%;
    left: 0; top: 0;
}
header .text_box { display: flex;  background-color: #000;} /* 상단 전체 */
header .text_box .wrap {
    display: flex;  width: 100%; 
} /* 텍스트와 < >아이콘*/
header .text_box .wrap .a_text {margin: 0 auto;}
header .text_box .wrap .a_text a {color: #fff;}
header .text_box .wrap .a_text a:nth-child(2) {color: #fff;display: none;}
header .text_box .wrap .a_text a:nth-child(3) {color: #fff;display: none;}
header .text_box .wrap .a_text a:nth-child(4) {color: #fff;display: none;}
header .text_box .wrap .a_text a:nth-child(5) {color: #fff;display: none;}
header .text_box .wrap .a_text a span {color: #fff; text-decoration: underline;}
header .text_box .wrap .next_freeview {display: flex; }
header .text_box .wrap .next_freeview .prev {position: absolute; left: 100px;} /* 이전이미지 */
header .text_box .wrap .next_freeview .prev img {}
header .text_box .wrap .next_freeview .next  {position: absolute; right:100px;} /* 다음 이미지 */
header .text_box .wrap .next_freeview .next img {}
header .text_box .close_icon {} 
header .text_box .close_icon img {color: #fff;} /* 닫기 */
header .head_contents {
    display: flex;  justify-content: space-between;  padding: 20px;
} /* 상단 검색 및 정보 */
header .head_contents .logo_gender {display: flex;}  /* 로고랑 젠더 왼쪽 */
header .head_contents .logo_gender h1 {}  
header .head_contents .logo_gender h1 a {}  
header .head_contents .logo_gender h1 a img {width: 178px; height: 22.39px;}  /* 로고 이미지 */
header .head_contents .logo_gender nav {}  
header .head_contents .logo_gender nav a {
    font-size: 0.875rem; margin-left: 20px; color: #aaa;
} /* men women */  
header .head_contents  #search_bar {} /* 검색바 */  
header .head_contents  #search_bar fieldset {width: 360px; height: 36px; border: none; position: relative; }  
header .head_contents  #search_bar fieldset .skip {display: none;} /* 레전드 스킵 */
header .head_contents  #search_bar fieldset #search {border: none;
    width: 360px; height: 36px; padding: 10px;background-color: #aaa; opacity: 0.8; } /* 검색바 */
header .head_contents  #search_bar fieldset #btn {position: absolute; right:20px;   border: none; background: none; opacity: 0.8; }  /* 이미지 */
header .head_contents  #search_bar fieldset #btn img {padding-top: 7px;} /* 이미지 */
header .head_contents  .right {}  /* 오른쪽 */
header .head_contents  .right a {margin-right: 34px;}  /* 오른쪽  아이콘이미지*/
header .head_contents  .mobile_header {display: none;}  /* 모바일 헤더*/






 /* footer */
footer {margin-top: 20px;}
footer .first_footer {display: flex; flex-flow: row nowrap;}
footer .first_footer > * { 
    width: 20%; display: flex; flex-flow: column;
}
footer .first_footer .contents {
    background-color: aqua;}
footer .first_footer  .contents1  {background-color: lime;}
footer .first_footer .contents2 {background-color: pink;}
footer .first_footer .contents3 {background-color: violet;}
footer .first_footer .contents4 {background-color: navajowhite;}
footer .first_footer .contents h1{padding-bottom: 8px;}
footer .first_footer .contents a{
    padding-bottom: 8px;
    display: block;}