header {
    width: 100%;
    left: 0; top: 0; 
    border-bottom: 2px solid #f9f9f9;
}
header .text_box {
    display: flex;  background-color: #000; padding: 3px;
    } /* 상단 전체 */
header .text_box .wrap {
    display: flex;  width: 100%; height: 40px;
} /* 텍스트와 < >아이콘*/
header .text_box .wrap .a_text {
    margin: 0 auto;
    display: flex; align-items: center;
}
main{padding: 0 40px;}
header .text_box .wrap .a_text a {color: #fff;}
header .text_box .wrap .a_text a:nth-child(2) {color: #fff;display: none;}
header .text_box .wrap .a_text a:nth-child(3) {color: #fff;display: none;}
header .text_box .wrap .a_text a:nth-child(4) {color: #fff;display: none;}
header .text_box .wrap .a_text a:nth-child(5) {color: #fff;display: none;}
header .text_box .wrap .a_text a span {color: #fff; text-decoration: underline;}
header .text_box .wrap .next_freeview {display: flex;  align-items: center;}
header .text_box .wrap .next_freeview .prev {position: absolute; left: 100px;} /* 이전이미지 */
header .text_box .wrap .next_freeview .prev img {}
header .text_box .wrap .next_freeview .next  {position: absolute; right:100px;} /* 다음 이미지 */
header .text_box .wrap .next_freeview .next img {}
header .text_box .close_icon {
    padding-top: 6px;
} 
header .text_box .close_icon img {} /* 닫기 */
header .head_contents {
    display: flex;  justify-content: space-between;  padding: 14px 20px 0;
} /* 상단 검색 및 정보 */
header .head_contents .logo_gender {display: flex;}  /* 로고랑 젠더 왼쪽 */
header .head_contents .logo_gender h1 {
    padding-left: 4px;
}  
header .head_contents .logo_gender h1 a {}  
header .head_contents .logo_gender h1 a img {width: 178px; height: 22.39px;}  /* 로고 이미지 */
header .head_contents .logo_gender nav {}  
header .head_contents .logo_gender nav a {
    font-size: 0.875rem; margin-left: 20px; color: #000;
} /* men women */  
header .head_contents  #search_bar {} /* 검색바 */  
header .head_contents  #search_bar fieldset {width: 360px; height: 36px; border: none; position: relative; }  
header .head_contents  #search_bar fieldset .skip {display: none;} /* 레전드 스킵 */
header .head_contents  #search_bar fieldset #search {border: none;
    width: 360px; height: 36px; padding: 10px;background-color: #fff; opacity: 0.8; } /* 검색바 */
header .head_contents  #search_bar fieldset #btn {position: absolute; right:20px;   border: none; background: none; opacity: 0.8; }  /* 이미지 */
header .head_contents  #search_bar fieldset #btn img {padding-top: 7px;} /* 이미지 */
header .head_contents  .right {}  /* 오른쪽 */
header .head_contents  .right a {margin-right: 34px;}  /* 오른쪽  아이콘이미지*/
header .header_categori {
    display: flex; height: 50px; align-items: center;
    padding-left: 40px;
}
header .header_categori a {color: #000; margin-right: 15px; font-size: 0.813rem;
}
header .head_contents  .mobile_header {display: none;}  /* 모바일 헤더*/

footer {margin-top: 20px;
    margin-left: 50px; ; padding: 0 40px 0 0;
}
footer .first_footer {
    display: flex; flex-flow: row nowrap; padding: 25px 0;
}
footer .first_footer > * { 
    width: 15%; display: flex; flex-flow: column;
}
footer .first_footer .contents {}
footer .first_footer  .contents1  {}
footer .first_footer .contents2 {}
footer .first_footer .contents3 {}
footer .first_footer .contents4 {}
footer .first_footer .contents h1{padding-bottom: 8px;}
footer .first_footer .contents a{
    padding-bottom: 8px;
    display: block;}
.footer_last {
    display: flex; justify-content: space-between;
    width: 100%;
}
.footer_last .text {}
.footer_last .text address {
    color: #ccc; font-size: 0.75rem; margin-bottom: 10px;
}
.footer_last .text p {color: #ccc; font-size: 0.75rem; margin-bottom: 10px;}
.footer_last .sns {}
.footer_last .sns a {margin-right: 9px;}
.footer_last .sns a i {}
.footer_last .sns a img {}