main {}
main .holiyday {
    background: url(../img/calvinklein_imgaes/main_home.jpg) center bottom;
    background-size: cover; padding-top: 100px   ;
} /* 여기에 고민시 이미지 */
main .holiyday .giving {
    padding-top: 90px; text-align: center;
}
main .holiyday .giving h1 {color: #fff; font-size:1.5rem; font-weight: bold; padding-bottom: 30px;}
main .holiyday .giving a {
    border: 1px solid #fff; color: #fff; padding:10px 40px 10px 40px;
}
main .holiyday .holiyday_buy {
    padding:350px 0 0 50px; color: #fff;  margin-bottom: 50px;
    display: flex; flex-flow: column nowrap;
}
main .holiyday .holiyday_buy h1 {
    color: #fff; font-size: 2rem;
}
main .holiyday .holiyday_buy p {color: #fff; font-size: 0.825rem;
    margin-bottom: 80px; padding-top: 15px;
    
}
main .holiyday .holiyday_buy .holiyday_colation {
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;
}
main .holiyday .holiyday_buy .brand_saie {
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;  
    display: inline-block;width: max-content; margin-bottom: 40px;
}
.product_contents {display: flex;}
.product_contents li {}
.product_contents li .product_main{position: relative;}
.product_contents li .product_main .photo{}
.product_contents li .product_main .photo img {width: 548px; height: 685px; padding-right: 10px;}
.product_contents li .product_main .favorite  {}
.product_contents li .product_main .favorite img {position: absolute; right: 15px; top: 20px; background:#bdbdbd; border-radius: 50%; padding: 5px;}
.product_contents li .product_main .size {}
.product_contents li .product_main .size a {}
.product_contents li .product_main .product_info {}
.product_contents li .product_info a {font-size: 0.875rem;}   
.product_contents li .product_info p {font-size: 0.875rem;}
.product_contents li .product_info p em {}
.product_contents li .product_info p del {}
.product_contents li .product_info a {}

/* 일단메인부터 */
.new_product {}/* 배경에 여자베너 */
.new_product .product_contents {
    background: url(../img/calvinklein_imgaes/pc_home_240103.jpg);
    background-size: cover;
}
.new_product .product_contents .contes_sub{
    text-align: center;padding:650px 0 0 50px; color: #fff;  margin-bottom: 50px;
    display: flex; flex-flow: column nowrap;
}
.new_product .product_contents .contes_sub h1 {
    color: #fff;  font-size: 2rem;
}
.new_product .product_contents .contes_sub .introduction {
    color: #fff; font-size: 0.825rem;
    margin-bottom: 80px; padding-top: 15px;
}
.new_product .product_contents .contes_sub .new_buy {border: 1px solid #fff;  padding: 10px 65px 10px 65px;  
    display: inline-block;width: max-content; margin-bottom: 40px; color: #fff;

}
.main1_product {display: flex;}
.main1_product li {}
.main1_product li .product_main {position: relative;}
.main1_product li .product_main .photo {}
.main1_product li .product_main .photo img {width: 548px; height: 685px; padding-right: 10px;}
.main1_product li .product_main .favorite {}
.main1_product li .product_main .favorite img{position: absolute; right: 15px; top: 20px; background:#bdbdbd; border-radius: 50%; padding: 5px;}
.main1_product li .product_main .size {}
.main1_product li .product_main .size a {}
/* 사은품 구매 */
.Outerwear_freebies {
    display: flex; flex-flow: row nowrap; justify-content: space-between; margin-top: 20px;
}
.Outerwear_freebies .freebies_left {
    margin: 0 auto;
}
.Outerwear_freebies .freebies_left .left_contents {display: flex; flex-flow: column nowrap; 
    margin-top: 100px;}
.Outerwear_freebies .freebies_left .left_contents h1 {font-size: 2rem;}
.Outerwear_freebies .freebies_left .left_contents p {margin-bottom: 100px;margin-top: 40px;}
.Outerwear_freebies .freebies_left .left_contents .buy {
    font-size: 0.825rem;
    border: 1px solid #000;  padding: 15px 40px 15px 40px;  
    display: inline-block;width: max-content; margin-bottom: 40px;
}

.Outerwear_freebies .freebies_left .left_contents .join {
    font-size: 0.825rem;
    border: 1px solid #000;  padding: 15px 40px 15px 40px;  
    display: inline-block;width: max-content; margin-bottom: 40px;
}
.main1_product
.main1_product li {}
.main1_product li .product_info {}
.main1_product li .product_info a {}
.main1_product li .product_info span {color: red;}
/* 가방 구입칸 */
.winter_product {
    background: url(../img/calvinklein_imgaes/pc_women_acc_231019.jpg);
    background-size: cover;
}
.winter_product .product_contents {   
    text-align: center;padding:650px 0 0 50px; color: #fff;  margin-bottom: 50px;
    }
.winter_product .product_contents .contes_sub {
    display: flex;  flex-flow: column nowrap;
}
.winter_product .product_contents .contes_sub h1 {color: #fff;  font-size: 2rem;}
.winter_product .product_contents .contes_sub .introduction{  
    color: #fff; font-size: 0.825rem; text-align: left;
    margin-bottom: 80px; padding-top: 15px;}
.winter_product .product_contents .contes_sub .men_buy{
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;
}
.winter_product .product_contents .contes_sub .women_buy{
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 40px;
}
/* 다시 가방 상품 */
.fashion_product {display: flex;}
.fashion_product li {}
.fashion_product li .product_main {position: relative;}
.fashion_product li .product_main .photo{}
.fashion_product li .product_main .photo img {width: 548px; height: 685px; padding-right: 10px;}
.fashion_product li .product_main .favorite {}
.fashion_product li .product_main .favorite img {position: absolute; right: 15px; top: 20px; background:#bdbdbd; border-radius: 50%; padding: 5px;}
.fashion_product li .product_main .size {}
.fashion_product li .product_main .size a {}
.fashion_product li .product_info {}
.fashion_product li .product_info a {}
.fashion_product li .product_info p {}
.fashion_product li .product_info p em {}
.fashion_product li .product_info p del {}
/* 카테고리 */
.category {display: flex
    ;}
/* 여성후드티 */
.category .women_hoodie{
    background: url(../img/calvinklein_imgaes/pc_home_category_tile_kazuha_231017.jpg);}
.category .women_hoodie h1 {}
.category .women_hoodie h1 a {}
.category .women_hoodie p {}
/* 남성후드 */
.category .men_hoodie {background: url(../img/calvinklein_imgaes/pc_men_tile_231227_categori.jpg);}
.category .men_hoodie  h1 {}
.category .men_hoodie  h1 a {}
.category .men_hoodie  p {}
/* 여성 악세사리 */
.category .women_accessories {background: url(../img/calvinklein_imgaes/pc_tile2_women_acc_231211\ categori\(1\).jpg);}
.category .women_accessories h1 {}
.category .women_accessories h1 a {}
.category .women_accessories p {}
/* 남성 악세사리 */
.category .men_accessories {background: url(../img/calvinklein_imgaes/main_tile4_231102\ categori\ \(1\).jpg);}
.category .men_accessories h1 {}
.category .men_accessories h1 a {}
.category .men_accessories p {}

/* 데님 환불 */
.exchange {background: url(../img/calvinklein_imgaes/pc_gwp_w_banner_230815.jpg);
background-size: cover; height: 500px;}
.exchange .product_contents {}
.exchange .product_contents .contes_sub {    
    text-align: center;
    padding:200px 0 0 50px; color: #fff;  margin-bottom: 50px;
    display: flex; flex-flow: column nowrap;}
.exchange .product_contents .contes_sub h1 { color: #fff;  font-size: 2rem;}
.exchange .product_contents .contes_sub .introduction {
    color: #fff; font-size: 0.825rem;
    margin-bottom: 80px; padding-top: 15px;
    text-align: left;
}
.exchange .product_contents .contes_sub .buy {
    border: 1px solid #fff;  padding: 10px 65px 10px 65px;  
    display: inline-block;width: max-content; margin-bottom: 40px; color: #fff;
}
/* 카테고리 2 */
.contents_all {background-color: aqua;
    display: flex; 
    flex-flow:row wrap;  margin-bottom: 20px;
}
.bottom_contents1 {width:calc(50% - 10px); height: 1000px;
    background: url(../img/calvinklein_imgaes/pc_home_tile4_231116.jpg);
    background-size: cover; position: relative; margin-right: 20px; 
    margin-bottom: 20px;
}
.bottom_contents1 .contents_sub {
    display: flex; flex-flow: column nowrap;
    position: absolute ; left: 20px; bottom: 0;
}
.bottom_contents1 .contents_sub h1 {color: #000;  font-size: 2rem;}
.bottom_contents1 .contents_sub .best_buy {}
.bottom_contents1 .contents_sub .best_buy p { 
    color: #000; border: 1px solid #000;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; 
    margin-bottom: 20px; margin-top: 25px;
}
.bottom_contents1 .contents_sub .exclusive_buy {}
.bottom_contents1 .contents_sub .exclusive_buy p {
    color: #000; border: 1px solid #000;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;
}


.bottom_contents2 {width:calc(50% - 10px); height: 1000px;
    background: url(../img/calvinklein_imgaes/pc_home_tile2_231116.jpg);
    position: relative;background-size: cover;
}
.bottom_contents2 .contents_sub {
    position: absolute; left: 20px; bottom: 0;
    display: flex; flex-flow: column nowrap;
}
.bottom_contents2 .contents_sub h1 {color: #fff;  font-size: 2rem;}
.bottom_contents2 .contents_sub .men_buy {}
.bottom_contents2 .contents_sub .men_buy p {
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; 
    margin-bottom: 20px;margin-top: 25px;
}
.bottom_contents2 .contents_sub .women_buy {}
.bottom_contents2 .contents_sub .women_buy p {   
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;}


.bottom_contents3 {background: url(../img/calvinklein_imgaes/pc_main3_tile_231102.jpg);
    width:calc(50% - 10px); height: 1000px;
    position: relative;background-size: cover;
    margin-right: 20px;
}
.bottom_contents3 .contents_sub {
    position: absolute; left: 20px; bottom: 0;
    display: flex; flex-flow: column nowrap;
} 
.bottom_contents3 .contents_sub h1 {color: #fff;  font-size: 2rem;} 
.bottom_contents3 .contents_sub .men_buy {} 
.bottom_contents3 .contents_sub .men_buy p{   
     color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content;
     margin-bottom: 20px;margin-top: 25px;
    } 
.bottom_contents3 .contents_sub .women_buy {} 
.bottom_contents3 .contents_sub .women_buy p{ 
       color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;} 


.bottom_contents4 {background: url(../img/calvinklein_imgaes/pc_tile4_women_cku_231211.jpg);
    width:calc(50% - 10px); height: 1000px; 
    background-size: cover;
    position: relative;
}
.bottom_contents4 .contents_sub {
    position: absolute; left: 20px; bottom: 0;
    display: flex; flex-flow: column nowrap;
}
.bottom_contents4 .contents_sub h1 {color: #fff;  font-size: 2rem;}
.bottom_contents4 .contents_sub .men_buy {}
.bottom_contents4 .contents_sub .men_buy p {  
    margin-top: 25px;
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;}
.bottom_contents4 .contents_sub .women_buy {}
.bottom_contents4 .contents_sub .women_buy p{
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;
}
/* 맴버십 조인 */
.member_join {padding: 40px 0;
    background: #000;} /* 백그라운드 검은색 */ 
.member_join h1 {
    color: #fff; font-size: 2rem;
    padding: 0 0 25px; margin-left: 20px;
}
.member_join p {
    color: #fff; padding: 0 0 50px;
    margin-left: 20px;
}
.member_join a {background: #fff;
    border: 1px solid #fff; 
    padding: 11px 32px 8px;
    color: #000; margin-left: 20px;
}
