main {}
main .holiyday {
    background: url(/img/calvinklein_imgaes/main_home.jpg) center bottom;
    background-size: cover;
} /* 여기에 고민시 이미지 */
main .holiyday .giving {
    padding-top: 90px; text-align: center;
}
main .holiyday .giving h1 {color: #fff; font-size:1.5rem; font-weight: bold; padding-bottom: 30px;}
main .holiyday .giving a {
    border: 1px solid #fff; color: #fff; padding:10px 40px 10px 40px;
}
main .holiyday .holiyday_buy {
    padding:350px 0 0 50px; color: #fff;  margin-bottom: 50px;
    display: flex; flex-flow: column nowrap;
}
main .holiyday .holiyday_buy h1 {
    color: #fff; font-size: 2rem;
}
main .holiyday .holiyday_buy p {color: #fff; font-size: 0.825rem;
    margin-bottom: 80px; padding-top: 15px;
    
}
main .holiyday .holiyday_buy .holiyday_colation {
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;
}
main .holiyday .holiyday_buy .brand_saie {
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;  
    display: inline-block;width: max-content; margin-bottom: 40px;
}
.product_contents {display: flex;}
.product_contents li {}
.product_contents li .product_main{}
.product_contents li .product_main .photo{}
.product_contents li .product_main .photo img {width: 548px; height: 685px; }
.product_contents li .product_main .favorite  {}
.product_contents li .product_main .favorite img {position: absolute; right: 15px; top: 20px; background:#bdbdbd; border-radius: 50%; padding: 5px;}
.product_contents li .product_main .size {}
.product_contents li .product_main .size a {}
.product_contents li .product_main .product_info {}
.product_contents li .product_info a {font-size: 0.875rem;}   
.product_contents li .product_info p {font-size: 0.875rem;}
.product_contents li .product_info p em {}
.product_contents li .product_info p del {}
.product_contents li .product_info a {}

/* 일단메인부터 */
.new_product {}/* 배경에 여자베너 */
.new_product .product_contents {
    background: url(/img/calvinklein_imgaes/pc_home_240103.jpg);
    background-size: cover;
}
.new_product .product_contents .contes_sub{
    text-align: center;padding:650px 0 0 50px; color: #fff;  margin-bottom: 50px;
    display: flex; flex-flow: column nowrap;
}
.new_product .product_contents .contes_sub h1 {
    color: #fff;  font-size: 2rem;
}
.new_product .product_contents .contes_sub .introduction {
    color: #fff; font-size: 0.825rem;
    margin-bottom: 80px; padding-top: 15px;
}
.new_product .product_contents .contes_sub .new_buy {border: 1px solid #fff;  padding: 10px 65px 10px 65px;  
    display: inline-block;width: max-content; margin-bottom: 40px; color: #fff;

}
.main1_product {display: flex;}
.main1_product li {}
.main1_product li .product_main {position: relative;}
.main1_product li .product_main .photo {}
.main1_product li .product_main .photo img {width: 548px; height: 685px;}
.main1_product li .product_main .favorite {}
.main1_product li .product_main .favorite img{position: absolute; right: 15px; top: 20px; background:#bdbdbd; border-radius: 50%; padding: 5px;}
.main1_product li .product_main .size {}
.main1_product li .product_main .size a {}
/* 사은품 구매 */
.Outerwear_freebies {
    display: flex; flex-flow: row nowrap; justify-content: space-between; margin-top: 20px;
}
.Outerwear_freebies .freebies_left {
    margin: 0 auto;
}
.Outerwear_freebies .freebies_left .left_contents {display: flex; flex-flow: column nowrap; }
.Outerwear_freebies .freebies_left .left_contents h1 {font-size: 2rem;}
.Outerwear_freebies .freebies_left .left_contents p {}
.Outerwear_freebies .freebies_left .left_contents .buy {
    font-size: 0.825rem;
    border: 1px solid #000;  padding: 10px 30px 10px 30px;  
    display: inline-block;width: max-content; margin-bottom: 40px;
}

.Outerwear_freebies .freebies_left .left_contents .join {
    font-size: 0.825rem;
    border: 1px solid #000;  padding: 10px 30px 10px 30px;  
    display: inline-block;width: max-content; margin-bottom: 40px;
}
/* 가방 구입칸 */
.winter_product {
    background: url(/img/calvinklein_imgaes/pc_women_acc_231019.jpg);
    background-size: cover;
}
.winter_product .product_contents {   
    text-align: center;padding:650px 0 0 50px; color: #fff;  margin-bottom: 50px;
    }
.winter_product .product_contents .contes_sub {
    display: flex;  flex-flow: column nowrap;
}
.winter_product .product_contents .contes_sub h1 {color: #fff;  font-size: 2rem;}
.winter_product .product_contents .contes_sub .introduction{  
    color: #fff; font-size: 0.825rem;
    margin-bottom: 80px; padding-top: 15px;}
.winter_product .product_contents .contes_sub .men_buy{
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 20px;
}
.winter_product .product_contents .contes_sub .women_buy{
    color: #fff; border: 1px solid #fff;  padding: 10px 30px 10px 30px;
    display: inline-block; width: max-content; margin-bottom: 40px;
}
/* 다시 가방 상품 */
.fashion_product {display: flex;}
.fashion_product li {}
.fashion_product li .product_main {}
.fashion_product li .product_main .photo{}
.fashion_product li .product_main .photo img {}
.fashion_product li .product_main .favorite {}
.fashion_product li .product_main .favorite img {}
.fashion_product li .product_main .size {}
.fashion_product li .product_main .size a {}
.fashion_product li .product_info {}
.fashion_product li .product_info a {}
.fashion_product li .product_info p {}
.fashion_product li .product_info p em {}
.fashion_product li .product_info p del {}
