/* #login_wrap main */
#login_wrap  {
    max-width: 460px; margin: 0 auto;
}
#login_wrap  #loginFrm {
    /* border: 1px solid #ccc; border-radius:5px ; */ 
    border: 0; padding: 0  28px 28px; 
    background: #fafafa; margin-bottom: 40px;
}
#login_wrap  #loginFrm fieldset {
    border: 0;
}

/* #login_wrap #loginFrm fieldset .login_title h2 #login_click{
    border-bottom: 3px solid #000 ; 
} */

/* 탭 제목 */
#login_wrap  #loginFrm fieldset .login_title {
    padding-bottom: 10px;
    display: flex; border-bottom: 1px solid #808080;
}
#login_wrap  #loginFrm fieldset .login_title h2 {
    width: calc(100% / 2 );  display: flex;
    text-align: center;
    border-radius: 0px; height: 60px; 
    justify-content: center; align-items: center;
    border-bottom-left-radius:0 ; border-bottom-right-radius: 0;
    border-radius: 0; position: relative;
}

#login_wrap #loginFrm fieldset .login_title h2:last-child {
    border-top-right-radius: 5px;
}
#login_wrap #loginFrm fieldset .login_title h2 a {
    width: 100%; line-height: 60px;      padding-bottom: 17px;
}
#login_wrap #loginFrm fieldset .login_container{
    padding-top: 20px;
}
#login_wrap #loginFrm fieldset .login_container .id_login .id_pw_input{
    display: flex ; flex-flow: column nowrap;
}
#login_wrap #loginFrm fieldset .login_container .id_login .id_pw_input
{}
#login_wrap #loginFrm fieldset .login_container .login_c {}
#login_wrap #loginFrm fieldset .login_container .login_c .id_pw_state {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
#login_wrap #loginFrm fieldset .login_container .login_c .id_pw_state {}
/* 콘텐츠  */
#login_wrap  #loginFrm fieldset .login_container .login_c {}
#login_wrap  #loginFrm fieldset .login_container .id_pw_input span {
    border: 1px solid #000;
}
#login_wrap  #loginFrm fieldset .login_container .id_pw_input span:nth-of-type(1){
    margin-bottom: 10px;
}
#login_wrap  #loginFrm fieldset .login_container .login_c .id_pw_input {}
#login_wrap  #loginFrm fieldset .login_container .login_c .id_pw_input  span #userId {width: 100%; padding: 18px 14px 5px; }
#login_wrap  #loginFrm fieldset .login_container .login_c .id_pw_input  span
#userpW {width: 100%; padding: 18px 14px 5px; } 
/* 기억하기 */
#login_wrap #loginFrm fieldset .login_container .login_c .id_pw_state{
    margin: 15px 0;
}
/* 로그인버튼 */
#login_wrap #loginFrm fieldset .login_container .login_c .loginBtn,
#login_wrap #loginFrm fieldset .login_container .login_c .joinBtn {
    width: 100%; padding: 11px 32px 8px;  margin-bottom: 10px;
    border: 0;
}
#login_wrap #loginFrm fieldset .login_container .login_c .login_btn_wrap {}
#login_wrap #loginFrm fieldset .login_container .login_c .login_btn_wrap .loginBtn{width: 100%; padding: 11px 32px 8px; color: #fff; background: #000;}
#login_wrap #loginFrm fieldset .login_container .login_c .naver_login {}
#login_wrap #loginFrm fieldset .login_container .naver_login .loginBtn{
    color: #fff; background: #03cf5d;
}
#login_wrap #loginFrm fieldset .login_container .login_c  .kakao_login {}
#login_wrap #loginFrm fieldset .login_container .kakao_login .loginBtn{
    background: #fee500;
}
#login_wrap #loginFrm fieldset .login_container .login_c .face_join {}
#login_wrap #loginFrm fieldset .login_container .face_join .joinBtn{
    border: 3px solid #000 !important;
}
#login_wrap #loginFrm fieldset .login_container .login_c .join {
    padding: 24px 0; border-top: 1px solid #bdbdbd;
}
#login_wrap #loginFrm fieldset .login_container .login_c .join .joinBtn{
    border: 1px solid #000; 
}
#login_wrap #loginFrm fieldset .login_container .login_c .join .joinBtn:hover{
    background: #000; color: #fff; transition: 0.5s;
}
#login_wrap #loginFrm fieldset .login_container .benefit {}
#login_wrap #loginFrm fieldset .login_container .benefit .contents {}
#login_wrap #loginFrm fieldset .login_container .benefit .contents h1 {
    font-size: 1.125rem;
}
#login_wrap #loginFrm fieldset .login_container .benefit .contents .contents_sub{
    display: flex; justify-content: space-between; 
}
#login_wrap #loginFrm fieldset .login_container .benefit .contents .contents_sub p {border-bottom: 1px solid #000; padding: 14px 14px 14px; margin: 4px;}
#login_wrap #loginFrm fieldset .login_container .benefit .contents .bottom {
    width: 100%;
}
#login_wrap #loginFrm fieldset .login_container .benefit .contents .bottom #membership {margin: 15px 0; text-align: center;}
#login_wrap #loginFrm fieldset .login_container .benefit .contents .bottom #membership 
#login_wrap #loginFrm fieldset .login_container .benefit .contents .bottom #contents_bottom {
    color: #808080; margin-top: 15px; font-size: 0.75rem;
}
#login_wrap #loginFrm fieldset .login_container .benefit .contents .bottom p {
    font-size: 0.75rem; color: #808080;
}
#login_wrap #loginFrm fieldset .login_container .benefit .contents .bottom #contents_bottom a {
    color: #808080; text-decoration: underline; font-size: 0.75rem;
}
/* 회원가입 */
#login_wrap #loginFrm fieldset .login_container .join {}
#login_wrap #loginFrm fieldset .login_container .join .btn {}
#login_wrap #loginFrm fieldset .login_container .join .btn button{
    width: 100%; padding: 11px 32px 8px;  margin-bottom: 10px;
    border: 0;
}
/* 버튼아래 */
#login_wrap #loginFrm fieldset .login_container .join .contents {
    display: flex ; flex-flow: column nowrap; padding: 22px 0 30px;
}
#login_wrap #loginFrm fieldset .login_container .join .contents input {
    padding: 18px 14px 5px; margin-bottom: 10px; background: #fff;
    font-size: 0.813rem;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .text {margin: 10px 0;}
#login_wrap #loginFrm fieldset .login_container .join .contents .phone {
    display: flex; justify-content: space-between;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .phone #ko {    padding: 14px 14px 5px;
    width: 30%;
    background: #fff;
    height: 10%;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .phone #number {
    width:calc(70% - 10px)
}
#login_wrap #loginFrm fieldset .login_container .join .contents .birthday {
    padding-bottom: 6px; font-size: 0.875rem;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .birthday_text {
    font-size: 0.75rem; padding-bottom: 10px;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .birthday_btn {
    display: flex; justify-content: space-between;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .birthday_btn select
{padding: 18px 14px 5px; margin-bottom: 20px;}
#login_wrap #loginFrm fieldset .login_container .join .contents .birthday_btn #year {width: 32%; background: #fff; font-size: 0.813rem;}
#login_wrap #loginFrm fieldset .login_container .join .contents .birthday_btn #month {width: 32%; background: #fff; font-size: 0.813rem}
#login_wrap #loginFrm fieldset .login_container .join .contents .birthday_btn #day {
    width: 32%; background: #fff; font-size: 0.813rem
}
#login_wrap #loginFrm fieldset .login_container .join .contents .jender {}
#login_wrap #loginFrm fieldset .login_container .join .contents .jender p {margin-bottom: 10px;}
#login_wrap #loginFrm fieldset .login_container .join .contents .jender input
span {padding-right: 20px;}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk {
    margin-top: 10px; 
}
/* 공통 폰트 */
#login_wrap #loginFrm fieldset .login_container .join .contents .chk p{font-size: 0.813rem;}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk a {
    font-weight: 500; font-size: 0.813rem;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk span {
    font-size: 0.875rem;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk .first
{margin-bottom: 20px;}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk .first input {
    margin-right: 8px;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk .first span {
}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk .first a {text-decoration: underline; }

#login_wrap #loginFrm fieldset .login_container .join .contents .chk .second {
    margin-bottom: 20px;
}
#login_wrap #loginFrm fieldset .login_container .join .contents .chk .second input {
    margin-right: 8px;
}

#login_wrap #loginFrm fieldset .login_container .join .contents .join_btn {}
#login_wrap #loginFrm fieldset .login_container .join .contents .join_btn #join_clear{
    width: 100%; padding: 11px 32px 8px;  margin-bottom: 10px;
    border: 0; color: #fff; background: #000;
}
/* js */
.boder_bottom {
    border-bottom: 3px solid #000 ; 
}