
.popup {position: fixed; top: 0; z-index: 999;}
.popup_contents {
    text-align: center;
    padding:20px 0;
    background: #44b151;
    color: #fff;
}

/* 네비게이션 */
main .nav_background{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999; left: 0; top: 0;
}

main .nav_background .nav_contents_background {/* 컨텐츠 백그라운드 */
    background-color: #000;
    width: 83%;  height: 100vh;
}
/* 네비 내용 */
main .nav_background .nav_contents_background .nav_contents {
    padding: 75px 40px 40px; 
} 

main .nav_background .nav_contents_background .nav_contents .nav_top {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-bottom: 22px;
}
main .nav_background .nav_contents_background .nav_contents .nav_top .menu {}
main .nav_background .nav_contents_background .nav_contents .nav_top .menu a {
    font-size: 0.813rem; margin-right: 20px; color: #aaa;
}
main .nav_background .nav_contents_background .nav_contents .nav_top .close {}
main .nav_background .nav_contents_background .nav_contents .nav_top .close a {}
main .nav_background .nav_contents_background .nav_contents .nav_top .close a img { 
    width: 24px;
}
/* 네비 메인  */
main .nav_background .nav_contents_background .nav_contents .content_main {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left {
    display: flex;
}
/* 제목열 */
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left p {
    color: #aaa; font-size: 0.813rem; margin-bottom: 40px;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_letf {display: flex; flex-flow: column; margin-right: 200px;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_letf a {margin-bottom: 20px; color: #fff;font-size: 0.813rem;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_letf .exclusive {color: #78b6ed;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_right {
    margin-top: 56px; display: flex; flex-flow: column nowrap;  
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_left .nav_sub_right a {margin-bottom: 20px; color: #fff; font-size: 0.813rem;}

main .nav_background .nav_contents_background .nav_contents .content_main .nav_right{ display: flex;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a{display: flex; flex-flow: column nowrap; width: 50%;}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a span{
    font-size: 0.825rem; color: #aaa; margin-top: 10px;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a img{
    width: 205px; height: 280px;
}
main .nav_background .nav_contents_background .nav_contents .content_main .nav_right a:nth-child(2) {margin-left: 20px;}


/* 상단 카테고리 */
main {
    width: 100%; 
}
main .all_contents{}
main .sub_categori{margin-left: 35px;}
main .sub_categori a { 
    font-size: 0.813rem; color: #aaa;
}
main .main_product {display: flex;}
main .main_product .product_left { 
    display: flex; flex-flow: row wrap; margin-left: 35px; padding-top: 10px; 
    width: 1200px;
}
main .main_product .product_left p {
    margin-right: 10px; width: calc(50% - 10px); margin-bottom: 10px;
}
main .main_product .product_left img {
    width: 100%; 
}
main .main_product .product_left .product_1 img{}
main .main_product .product_left .product_2 img {}
main .main_product .product_left .product_3 img {}
main .main_product .product_left .product_4 img {}
main .main_product .product_left .product_5 img {}
main .main_product .product_left .product_6 img {}
main .main_product .product_left .product_7 img {}
main .main_product .product_left .product_8 img {}
main .main_product .product_left .product_9 img {}
main .main_product .product_left .product_10 img{}
main .main_product .product_left .product_11 img{}
main .main_product .product_left .product_12 img{}
main .main_product .product_left .product_13 img{}
main .main_product .product_left .product_14 img{}
main .main_product .product_left .product_15 img{}
main .main_product .product_left .product_16 img{}
main .main_product .product_left .product_17 img{}
main .main_product .product_left .product_18 img{}


/* 오른쪽 */
main .main_product .product_right {
    width: calc(100% - 1200px); padding: 0 35px;
} 
main .main_product .product_right .brand{
    margin-top: 10px;
    font-size: 0.875rem; padding-bottom: 7px; font-weight: bold;
} 
main .main_product .product_right h1{
    font-size: 1.5rem; margin-bottom: 10px; 
} 
main .main_product .product_right .price {
    margin: 7px 7px 7px 0;
} 
main .main_product .product_right .price del {
    font-size: 0.813rem; text-decoration: line-through;
} 
main .main_product .product_right .price span {font-size: 1rem;} 
main .main_product .product_right .price em {
    color: #d73d3d; font-size: 0.875rem;
} 
main .main_product .product_right p {padding-bottom: 10px;}
main .main_product .product_right p #Special  {
    font-size: 0.875rem; color: #d73d3d;
}
main .main_product .product_right .color {
    color: #808080; font-size: 0.875rem;
}
main .main_product .product_right .color em {
    font-size: 0.875rem; font-weight: 800;
}
main .main_product .product_right .photo {
    width: 65px; height: 65px; 
    background-image: url(../img/product_img/C27_01_J2223541A4_FL-TP-F1.jpg); background-size: cover;
    border: 1px solid #000; border-radius: 50%;
}
main .main_product .product_right .size {
    padding-top: 30px;
}
main .main_product .product_right .size .top {display: flex; justify-content: space-between; align-items: center;
}
main .main_product .product_right .size .top p {}
main .main_product .product_right .size .bottom {
    display: flex;
}
main .main_product .product_right .size .bottom a {
    border: 1px solid #000;  padding: 10px 30px 10px 30px;
    display: inline-block; width: 108px; margin-bottom: 20px;    
    text-align: center; 
}
main .main_product .product_right .size .bottom a:hover{
    background: #000; color: #fff;
}

main .main_product .product_right .size .bottom a {}
main .main_product .product_right .size .bottom a img{width: 20px;}
main .main_product .product_right .size .size_last {
    font-size: 0.875rem; color: #808080; margin-bottom: 35px;
}
main .main_product .product_right .basket {
    width: 100%; display: flex; align-items: center; justify-content: space-between;
}
main .main_product .product_right .basket .basket_add{ 
    background: #000;
    border: 1px solid #000; 
    padding: 11px 130px 8px;
    color: #fff;
    font-size: 0.875rem;
}
main .main_product .product_right .basket .heart {
    float: right;  border-radius: 50%; padding: 0 2px;
}
main .main_product .product_right .basket .heart i {
    padding: 10px; border-radius: 50%;
}
main .main_product .product_right .basket .heart i:hover {
    color: #fff; background: #000;
}
main .main_product .product_right .basket .heart img {}
main .main_product .product_right .basket .basket_add del{
    color: #808080; font-size: 0.625rem;
    text-decoration: line-through;
}
main .main_product .product_right .basket .basket_add em{
    color: #fff;  font-weight: 800;
}
main .main_product .product_right .line {margin-top: 50px;
    background-color: #eeee; height: 1px;
    width: 100%;
}
main .main_product .product_right .information {
    margin: 0 0 20px; padding: 20px 0 0; border-bottom: 1px solid #f4f4f4;
}
main .main_product .product_right .information .btn {}
main .main_product .product_right .information .btn  a {
    display: flex; justify-content: space-between; padding-bottom: 20px;
}
main .main_product .product_right .information .btn  a  span {}
main .main_product .product_right .information .btn  a  img {}
main .main_product .product_right .information p {
    font-size: 0.875rem; margin-bottom: 30px; line-height: 25px;
}
main .main_product .product_right .information ul {}
main .main_product .product_right .information ul li {
    margin-bottom: 5px; font-size: 0.875rem;
}
main .main_product .product_right .shopping {
    border-bottom: 1px solid #f4f4f4;
}
main .main_product .product_right .shopping .btn {}
main .main_product .product_right .shopping .btn a{
    display: flex; justify-content: space-between;
    padding-bottom: 20px;

}
main .main_product .product_right .shopping .btn a span {}
main .main_product .product_right .shopping .btn a img {}
main .main_product .product_right .shopping dl {}
main .main_product .product_right .shopping dl dt {
    padding-bottom: 10px; font-weight: bold; font-size: 0.875rem;
}
main .main_product .product_right .shopping dl dd {
    padding-bottom: 10px; font-size: 0.875rem;
}
main .main_product .product_right .shopping dl dd:nth-child(3),
main .main_product .product_right .shopping dl dd:nth-child(5),
main .main_product .product_right .shopping dl dd:nth-child(8),
main .main_product .product_right .shopping dl dd:nth-child(11),
main .main_product .product_right .shopping dl dd:nth-child(15),
main .main_product .product_right .shopping dl dd:nth-child(17)
{padding-bottom: 40px;}

/* 상품 */
main .product_box {
 width: 1900px; overflow: hidden;
}
main .product_contents {
}
main .product_contents li {}
main .product_contents li .product_main{position: relative;}
main .product_contents li .product_main .photo{}
main .product_contents li .product_main .photo img {width: 100%;}
main .product_contents li .product_main .favorite  {}
main .product_contents li .product_main .favorite img {position: absolute; right: 15px; top: 20px; background:#bdbdbd; border-radius: 50%; padding: 5px;}
main .product_contents li .product_main .size {}
main .product_contents li .product_main .size a {}
main .product_contents li .product_main .product_info {}
main .product_contents li .product_info a {font-size: 0.875rem;}   
main .product_contents li .product_info p {font-size: 0.875rem;}
main .product_contents li .product_info p em {
    font-weight: 700;
}
main .product_contents li .product_info p del {}
main .product_contents li .product_info a {}


